body{
    height: 100vh;
   margin: 0;
}
.main{
    font-family: 'Hachi Maru Pop', cursive;
    height: 80%;
    width: 100%;
    background-color:rgb(14, 139, 139);
}
h3{
    font-family: 'Indie Flower', cursive;
   margin:0;
}
.main{
    display: flex;
    flex-direction: column;
    /* margin:0,auto,auto,auto; */
    align-items: center;
    justify-content: center;

}
.main_2{
  height: 20%;
  width: 100%;
  background-color:#fff; 
}
 